# Global
node_modules/
.env
.env.local
.env.*.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
debug.log
error.log

# Build outputs
dist/
build/
coverage/

# OS
Thumbs.db
ehthumbs.db
*.swp

# IDE/editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Backend specific
backend-code/node_modules/
backend-code/.env

# Frontend specific
client-code/node_modules/
client-code/.env
client-code/.next/
client-code/.parcel-cache/
client-code/.turbo/

# React build (frontend)
client-code/build/
client/build/

# MongoDB dump
dump/
